<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyEvaluationMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyEvaluation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="require_code" jdbcType="VARCHAR" property="requireCode" />
    <result column="send_user_code" jdbcType="VARCHAR" property="sendUserCode" />
    <result column="receive_user_code" jdbcType="VARCHAR" property="receiveUserCode" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="notes" jdbcType="LONGVARCHAR" property="notes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_evaluation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyEvaluation">
    insert into t_baby_evaluation (id, require_code, send_user_code, 
      receive_user_code, level, create_time, 
      notes)
    values (#{id,jdbcType=BIGINT}, #{requireCode,jdbcType=VARCHAR}, #{sendUserCode,jdbcType=VARCHAR}, 
      #{receiveUserCode,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{notes,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyEvaluation">
    update t_baby_evaluation
    set require_code = #{requireCode,jdbcType=VARCHAR},
      send_user_code = #{sendUserCode,jdbcType=VARCHAR},
      receive_user_code = #{receiveUserCode,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      notes = #{notes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, require_code, send_user_code, receive_user_code, level, create_time, notes
    from t_baby_evaluation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, require_code, send_user_code, receive_user_code, level, create_time, notes
    from t_baby_evaluation
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_evaluation where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyEvaluation" useGeneratedKeys="true">
    insert into t_baby_evaluation (id, require_code, send_user_code, 
      receive_user_code, level, create_time, 
      notes)
    values (#{id,jdbcType=BIGINT}, #{requireCode,jdbcType=VARCHAR}, #{sendUserCode,jdbcType=VARCHAR}, 
      #{receiveUserCode,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{notes,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyEvaluation">
    update t_baby_evaluation set 
    <if test="requireCode != null">
      require_code = #{requireCode,jdbcType=VARCHAR},
    </if>
    <if test="sendUserCode != null">
      send_user_code = #{sendUserCode,jdbcType=VARCHAR},
    </if>
    <if test="receiveUserCode != null">
      receive_user_code = #{receiveUserCode,jdbcType=VARCHAR},
    </if>
    <if test="level != null">
      level = #{level,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyEvaluation" resultMap="BaseResultMap">
    select * from t_baby_evaluation where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="requireCode!=null">
      and require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
    <if test="sendUserCode!=null">
      and send_user_code = #{sendUserCode,jdbcType=VARCHAR}
    </if>
    <if test="receiveUserCode!=null">
      and receive_user_code = #{receiveUserCode,jdbcType=VARCHAR}
    </if>
    <if test="level!=null">
      and level = #{level,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>