<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyRequireItemMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyRequireItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_price" jdbcType="REAL" property="itemPrice" />
    <result column="require_code" jdbcType="VARCHAR" property="requireCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_require_items
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyRequireItem">
    insert into t_baby_require_items (id, item_code, item_name, 
      item_price, require_code)
    values (#{id,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemPrice,jdbcType=REAL}, #{requireCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyRequireItem">
    update t_baby_require_items
    set item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=REAL},
      require_code = #{requireCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, item_code, item_name, item_price, require_code
    from t_baby_require_items
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, item_code, item_name, item_price, require_code
    from t_baby_require_items
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_require_items where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyRequireItem" useGeneratedKeys="true">
    insert into t_baby_require_items (id, item_code, item_name, 
      item_price, require_code)
    values (#{id,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemPrice,jdbcType=REAL}, #{requireCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyRequireItem">
    update t_baby_require_items set 
    <if test="itemCode != null">
      item_code = #{itemCode,jdbcType=VARCHAR},
    </if>
    <if test="itemName != null">
      item_name = #{itemName,jdbcType=VARCHAR},
    </if>
    <if test="itemPrice != null">
      item_price = #{itemPrice,jdbcType=REAL},
    </if>
    <if test="requireCode != null">
      require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyRequireItem" resultMap="BaseResultMap">
    select * from t_baby_require_items where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="itemCode!=null">
      and item_code = #{itemCode,jdbcType=VARCHAR}
    </if>
    <if test="itemName!=null">
      and item_name = #{itemName,jdbcType=VARCHAR}
    </if>
    <if test="itemPrice!=null">
      and item_price = #{itemPrice,jdbcType=REAL}
    </if>
    <if test="requireCode!=null">
      and require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>