<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyTaskMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="require_code" jdbcType="VARCHAR" property="requireCode" />
    <result column="send_user_code" jdbcType="VARCHAR" property="sendUserCode" />
    <result column="get_user_code" jdbcType="VARCHAR" property="getUserCode" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_tasks
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyTask">
    insert into t_baby_tasks (id, require_code, send_user_code, 
      get_user_code, task_status, start_time, 
      end_time, create_time, task_code
      )
    values (#{id,jdbcType=BIGINT}, #{requireCode,jdbcType=VARCHAR}, #{sendUserCode,jdbcType=VARCHAR}, 
      #{getUserCode,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{taskCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyTask">
    update t_baby_tasks
    set require_code = #{requireCode,jdbcType=VARCHAR},
      send_user_code = #{sendUserCode,jdbcType=VARCHAR},
      get_user_code = #{getUserCode,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      task_code = #{taskCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, require_code, send_user_code, get_user_code, task_status, start_time, 
    end_time, create_time, task_code
    from t_baby_tasks
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, require_code, send_user_code, get_user_code, task_status, start_time, 
    end_time, create_time, task_code
    from t_baby_tasks
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_tasks where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyTask" useGeneratedKeys="true">
    insert into t_baby_tasks (id, require_code, send_user_code, 
      get_user_code, task_status, start_time, 
      end_time, create_time, task_code
      )
    values (#{id,jdbcType=BIGINT}, #{requireCode,jdbcType=VARCHAR}, #{sendUserCode,jdbcType=VARCHAR}, 
      #{getUserCode,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{taskCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyTask">
    update t_baby_tasks set 
    <if test="requireCode != null">
      require_code = #{requireCode,jdbcType=VARCHAR},
    </if>
    <if test="sendUserCode != null">
      send_user_code = #{sendUserCode,jdbcType=VARCHAR},
    </if>
    <if test="getUserCode != null">
      get_user_code = #{getUserCode,jdbcType=VARCHAR},
    </if>
    <if test="taskStatus != null">
      task_status = #{taskStatus,jdbcType=VARCHAR},
    </if>
    <if test="startTime != null">
      start_time = #{startTime,jdbcType=TIMESTAMP},
    </if>
    <if test="endTime != null">
      end_time = #{endTime,jdbcType=TIMESTAMP},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="taskCode != null">
      task_code = #{taskCode,jdbcType=VARCHAR}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyTask" resultMap="BaseResultMap">
    select * from t_baby_tasks where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="requireCode!=null">
      and require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
    <if test="sendUserCode!=null">
      and send_user_code = #{sendUserCode,jdbcType=VARCHAR}
    </if>
    <if test="getUserCode!=null">
      and get_user_code = #{getUserCode,jdbcType=VARCHAR}
    </if>
    <if test="taskStatus!=null">
      and task_status = #{taskStatus,jdbcType=VARCHAR}
    </if>
    <if test="startTime!=null">
      and start_time = #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null">
      and end_time = #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime!=null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="taskCode!=null">
      and task_code = #{taskCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>