<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyApplyMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="apply_status" jdbcType="VARCHAR" property="applyStatus" />
    <result column="require_code" jdbcType="VARCHAR" property="requireCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyApply">
    insert into t_baby_apply (id, user_code, create_time, 
      apply_status, require_code)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{applyStatus,jdbcType=VARCHAR}, #{requireCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyApply">
    update t_baby_apply
    set user_code = #{userCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      require_code = #{requireCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_code, create_time, apply_status, require_code
    from t_baby_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_code, create_time, apply_status, require_code
    from t_baby_apply
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_apply where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyApply" useGeneratedKeys="true">
    insert into t_baby_apply (id, user_code, create_time, 
      apply_status, require_code)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{applyStatus,jdbcType=VARCHAR}, #{requireCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyApply">
    update t_baby_apply set 
    <if test="userCode != null">
      user_code = #{userCode,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="applyStatus != null">
      apply_status = #{applyStatus,jdbcType=VARCHAR},
    </if>
    <if test="requireCode != null">
      require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyApply" resultMap="BaseResultMap">
    select * from t_baby_apply where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="userCode!=null">
      and user_code = #{userCode,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="applyStatus!=null">
      and apply_status = #{applyStatus,jdbcType=VARCHAR}
    </if>
    <if test="requireCode!=null">
      and require_code = #{requireCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>