<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyInfoMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="baby_name" jdbcType="VARCHAR" property="babyName" />
    <result column="baby_birthday" jdbcType="DATE" property="babyBirthday" />
    <result column="baby_sex" jdbcType="VARCHAR" property="babySex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="baby_code" jdbcType="VARCHAR" property="babyCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyInfo">
    insert into t_baby_info (id, baby_name, baby_birthday, 
      baby_sex, create_time, baby_code
      )
    values (#{id,jdbcType=BIGINT}, #{babyName,jdbcType=VARCHAR}, #{babyBirthday,jdbcType=DATE}, 
      #{babySex,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{babyCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyInfo">
    update t_baby_info
    set baby_name = #{babyName,jdbcType=VARCHAR},
      baby_birthday = #{babyBirthday,jdbcType=DATE},
      baby_sex = #{babySex,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      baby_code = #{babyCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, baby_name, baby_birthday, baby_sex, create_time, baby_code
    from t_baby_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, baby_name, baby_birthday, baby_sex, create_time, baby_code
    from t_baby_info
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_info where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyInfo" useGeneratedKeys="true">
    insert into t_baby_info (id, baby_name, baby_birthday, 
      baby_sex, create_time, baby_code
      )
    values (#{id,jdbcType=BIGINT}, #{babyName,jdbcType=VARCHAR}, #{babyBirthday,jdbcType=DATE}, 
      #{babySex,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{babyCode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyInfo">
    update t_baby_info set 
    <if test="babyName != null">
      baby_name = #{babyName,jdbcType=VARCHAR},
    </if>
    <if test="babyBirthday != null">
      baby_birthday = #{babyBirthday,jdbcType=DATE},
    </if>
    <if test="babySex != null">
      baby_sex = #{babySex,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="babyCode != null">
      baby_code = #{babyCode,jdbcType=VARCHAR}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyInfo" resultMap="BaseResultMap">
    select * from t_baby_info where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="babyName!=null">
      and baby_name = #{babyName,jdbcType=VARCHAR}
    </if>
    <if test="babyBirthday!=null">
      and baby_birthday = #{babyBirthday,jdbcType=DATE}
    </if>
    <if test="babySex!=null">
      and baby_sex = #{babySex,jdbcType=VARCHAR}
    </if>
    <if test="createTime!=null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="babyCode!=null">
      and baby_code = #{babyCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>