<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz91online.bgms.module.baby.dao.BabyTaskStepMapper">
  <resultMap id="BaseResultMap" type="com.sz91online.bgms.module.baby.domain.BabyTaskStep">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="step_content" jdbcType="VARCHAR" property="stepContent" />
    <result column="done_time" jdbcType="TIMESTAMP" property="doneTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_baby_task_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sz91online.bgms.module.baby.domain.BabyTaskStep">
    insert into t_baby_task_record (id, step_content, done_time, 
      create_time, task_code)
    values (#{id,jdbcType=BIGINT}, #{stepContent,jdbcType=VARCHAR}, #{doneTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{taskCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sz91online.bgms.module.baby.domain.BabyTaskStep">
    update t_baby_task_record
    set step_content = #{stepContent,jdbcType=VARCHAR},
      done_time = #{doneTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      task_code = #{taskCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, step_content, done_time, create_time, task_code
    from t_baby_task_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, step_content, done_time, create_time, task_code
    from t_baby_task_record
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List">
    delete from t_baby_task_record where id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <insert id="insertAndReturnKey" keyProperty="id" parameterType="com.sz91online.bgms.module.baby.domain.BabyTaskStep" useGeneratedKeys="true">
    insert into t_baby_task_record (id, step_content, done_time, 
      create_time, task_code)
    values (#{id,jdbcType=BIGINT}, #{stepContent,jdbcType=VARCHAR}, #{doneTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{taskCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sz91online.bgms.module.baby.domain.BabyTaskStep">
    update t_baby_task_record set 
    <if test="stepContent != null">
      step_content = #{stepContent,jdbcType=VARCHAR},
    </if>
    <if test="doneTime != null">
      done_time = #{doneTime,jdbcType=TIMESTAMP},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="taskCode != null">
      task_code = #{taskCode,jdbcType=VARCHAR}
    </if>
     where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" parameterType="com.sz91online.bgms.module.baby.domain.BabyTaskStep" resultMap="BaseResultMap">
    select * from t_baby_task_record where 1=1 
    <if test="id!=null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="stepContent!=null">
      and step_content = #{stepContent,jdbcType=VARCHAR}
    </if>
    <if test="doneTime!=null">
      and done_time = #{doneTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime!=null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="taskCode!=null">
      and task_code = #{taskCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>